POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_URL=
PORT=
NEON_GENERATE_OUTFIT_FUNCTION_URL=
NEON_ANALYZE_IMAGE_FUNCTION_URL=
NEON_AUTH_URL=
NEON_FUNCTION_SECRET=
FRONTEND_URL=
NEXT_PUBLIC_API_BASE_URL=
FOUNDRY_ENDPOINT=
FOUNDRY_API_KEY=
FOUNDRY_DEPLOYMENT=
